* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	background-color: #fff;  
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.wrap {
	position: relative;
	width: 350px; /* 290px + 60px margin left and right */
	/*height: 380px;*/ /* 320px + 60px padding top and bottom */
	margin: auto;
	padding: 30px 0;
  overflow: hidden;
  /*overflow-x: scroll;*/
}

.dots {
	position: relative;
	align-content: center;
	float: center;
	left: 43%;
	display: block;
	height: 15px;
}
			
@media (min-width: 767px) {
	     
	.wrap {
		width: 700px; /* 580px + 120px margin left and right */
	}
	
	.dots {
		display: block;
		left: 47%;
	}
	
	ul {
		transform: translateX(0px);
	}
				
}

@media (min-width: 991px) {
	     
	.wrap {
		width: 1050px; /* 870px + 180px margin left and right */
	}
	
	.dots {
		display: none;
	}
	
	ul {
		transform: translateX(0px); 
	}
		
}

.dot {
	display: inline-block;
	margin: 5px;
	padding: 0px;
	width: 10px;
	height: 10px;
	border: 1px solid #aaa;
	border-radius:50%;
	background-color: #ccc;
	cursor: pointer;
}

.selected {
	border: 1px solid #999;
	background-color: #eee;	
} 

ul {
	position: relative;
	display: flex;
	/*align-items: center;*/
	list-style: none;
	width: auto;
	/*height: 	320px;*/
	margin: 0;
	padding: 0;
	
  -webkit-transition: .8s;
  -moz-transition: .8s;
  -ms-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
  
	transform: translateX(0px); /* 0px - 350px - 700px */
	
}

.ring {
	/*height: 320px;*/
	background-color: #fff;			

}

ul li {
	display: inline-block;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

.ring-container {
	width: 290px; 
	/*height: 320px;*/
	height: 100%;
	margin: 0 30px;
	padding: 0;
	background-color: #fff;		
	border-bottom: 3px solid #eee;	
	
  cursor: default;
  
  /* prevent highlight of the images or texts when the user drags the slide */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;	
}

ul > li > div.ring {
	display: block;
	width: 290px;
	/*height: 320px;*/
	height: 100%;
}

.circle-center {
	fill: none;
	stroke: #fff;
	stroke-width: 0;
}

.circle-label {
	font-family: Helvetica, Futura, Calibri, Verdana, sans-serif;
	font-size: 17px;
	font-weight: 600;
	fill: #bbb;
}

.circle-value {
	font-family: Helvetica, Futura, Calibri, Verdana, sans-serif;
	font-size: 22px;
	font-weight: 700;
	fill: #444;
}

.details-label {
	font-family: Helvetica, Futura, Calibri, Verdana, sans-serif;
	font-size: 17px;
	font-weight: 600;
}

.details-percent {
	font-family: Helvetica, Futura, Calibri, Verdana, sans-serif;
	font-size: 16px;
	font-weight: 500;
	fill: #777;
}

.details-value {
	font-family: Helvetica, Futura, Calibri, Verdana, sans-serif;
	font-size: 16px;
	font-weight: 400;
	fill: #ccc;
}